$footer-height: 6rem;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
  padding-bottom: 3rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  font-size: 0.8em;
  background: $gray;
  color: white;
  overflow: hidden;
  box-shadow: inset 1px 0 3px black;

  a {
    color: lighten($link-color, 30%);
  }

  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $content-width;

    p {
      float: left;
      margin: 0;
      max-width: 60%;
      overflow: break-word;
    }
  }
}
