$footer-height: 4rem;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
  padding-bottom: 3rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  font-size: 0.8em;
  background: $blue;
  color: white;
  overflow: hidden;
  box-shadow: inset 1px 0 3px black;

  a {
    color: lighten($link-color, 30%);
  }

  div.left {
    float: left;
    width: 75%;
    p {
      line-height: $footer-height;
    }
  }

  div.right {
    float: right;
    width: 25%;
  }

  > div {
    max-width: $content-width;
    margin: 0 auto;
  }
}
