$nav-font-size: 2rem;
$nav-animate-time: 0.3s;
$header-font-size: 3rem;
$header-color: $gray;
$header-hover: black;
header {
  padding: 0 $content-padding;
  max-width: $content-width;
  margin: 0 auto;
  h1 {
    font-size: $header-font-size;
    margin-bottom: 1rem;
    line-height: 1;
    a:hover {
      text-decoration: none;
    }
  }

  a {
    color: $header-color;
    &:hover {
      color: $header-hover;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    font-size: 0;
    li {
      display: inline-block;
      animation-name: fadeIn;
      animation-duration: $nav-animate-time;
      animation-delay: 0.5s;
      animation-fill-mode: both;
      @for $i from 6 through 1 {
        &:nth-last-child(#{$i}) { animation-delay: 0.5s + $nav-animate-time * $i; }
      }

      &:after {
        margin: 0 0.5rem;
        content: '-';
        color: darken($body-bg, 40%);
        font-size: $nav-font-size * 0.9;
      }
      &:last-child:after { display: none; }

      a {
        font-size: $nav-font-size;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    @include clearfix;
    h1 {
      float: left;
    }

    nav {
      float: right;
      ul li a {
        font-size: $nav-font-size * 0.75;
        line-height: $header-font-size;
      }
    }
  }
}
