@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
$nav-shadow: 1px 0 3px rgba(0, 0, 0, 0.8);
$nav-height: 5rem;
$nav-font-size: 1.75rem;
$header-font-size: 2rem;
$header-height: 6rem;
$header-font-size: 2.5rem;
$fg: white;
$inner-padding: 2rem;
$nav-border-width: 0.3rem;
$nav-fade-time: 0.4s;
body {
  padding-top: $nav-height + $header-height + $content-padding;
}

header {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 2;
  background-color: $blue;
  height: $nav-height + $header-height;
  box-shadow: $nav-shadow;

  a {
    color: inherit; text-decoration: none;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  nav {
    @include clearfix;
    position: absolute;
    top: 0;
    left: 0; right: 0;
    background-color: $red;
    box-shadow: $nav-shadow;
    > div {
      height: $nav-height;
      color: $fg;
      max-width: $max-width;
      margin: 0 auto;
      padding: 0 $inner-padding;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 0;
      li {
        display: inline-block;
        color: $fg;
        margin: 0;
        $p: ($nav-height - $nav-font-size) / 2;
        a {
          display: inline-block;
          font-size: $nav-font-size;
          line-height: 1;
          padding: $p 1rem ($p - $nav-border-width);
        }

        &.selected a,
        a:hover {
          border-bottom: $nav-border-width solid $blue;
        }
      }

      &.main li:first-child a {
        margin-left: -1rem;
      }

      &.social li {
        span {
          font-size: 0;
        }
      }
    }

    #main-nav {
      float: left;
      li {
        margin-right: 1rem;
        animation-name: fadeIn;
        animation-duration: $nav-fade-time;
        animation-fill-mode: both;
        @for $i from 2 through 6 {
          &:nth-child(#{$i}) { animation-delay: ($i - 1) * $nav-fade-time; }
        }
      }
    }
    #social-nav { float: right; }
  }

  > div {
    position: relative;
    top: $nav-height;
    max-width: $max-width;
    margin: 0 auto;
    height: $header-height;
    padding: 0 $inner-padding;
    h1 {
      margin: 0; padding: 0;
      line-height: $header-height;
      font-size: $header-font-size;
      font-weight: normal;
      color: $fg;
      float: left;
    }

    > div {
      animation-name: bounceInDown;
      animation-duration: 1s;
      animation-fill-mode: both;
      float: right;
      margin-top: 1.5rem;
      margin-right: 2rem;
      width: 7rem; height: 7rem;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border-radius: 50%;
      border: 0.4rem solid $blue;
    }
  }
}

@include media-breakpoint-up(md) {
  #social-nav {
    li:first-child {
      span {
        margin-left: 0.5rem;
        vertical-align: top;
        font-size: $nav-font-size * 0.9;
      }
    }
  }
}
