$flag-size: 2.5rem;
.pride {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: $footer-height;
  float: right;
  li {
    display: inline-block;
    margin: 0.5rem 0 0 0.5rem;
    &:first-child { margin-left: 0; }
    svg {
      width: 2rem;
      height: auto;
    }
  }
}
