#scroll-to-top {
  position: fixed;
  left: -100px;
  top: 15rem;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: black;
  text-decoration: none;
  transition: left 0.1s ease-in;

  &:focus,
  &.show {
    left: 1rem;
    display: inline-block;
    width: auto;
    height: auto;
    z-index: 2;
  }

  @include media-breakpoint-down(xs) {
    display: none;
    &.show {
      display: block;
      color: white;
      line-height: 1;
      top: 0;
      left: auto !important;
      right: 0;
      padding: 1rem;
      z-index: 9;
      font-size: 3rem;
    }
  }
}

@include media-breakpoint-down(lg) {
  #scroll-to-top span { display: none; }
}
