$standard-tooltip-width: 30rem;
$arrow-size: 1rem;
.tooltip {
  position: relative;
  color: lighten($body-color, 10%);

  span, &:after {
    font-size: 0.75em;
  }

  span {
    display: none;
    position: absolute;
    left: 50%;
    bottom: $font-size-base * $line-height;
    background-color: $gray;
    color: white;
    padding: 1rem 0.5rem;
    width: $standard-tooltip-width;
    margin-left: $standard-tooltip-width * -0.5;
    text-align: center;
    border-radius: 2px;
    z-index: 999;

    &:after, &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: transparent;
      border-top-color: $gray;
      border-width: $arrow-size;
      margin-left: $arrow-size * -0.5;
    }

    &.left {
      &:before, &:after { left: 70%; }
      left: 0;
      margin-left: $standard-tooltip-width * -0.55;
    }

    &.right {
      &:before, &:after { left: 30%; }
      margin-left: -6rem;
      right: 0;
    }
  }

  &:hover {
    cursor: help;
    padding-top: 2rem; /* Ensures we can hover into the tooltip. */
    span {
      display: inline;
    }
  }

  &:after {
    content: '\2731';
    vertical-align: super;
    color: $link-color;
  }
}
