$standard-tooltip-width: 30rem;
.tooltip {
  position: relative;
  color: lighten($body-color, 10%);

  span, &:after {
    font-size: 0.75em;
  }

  span {
    &:before { content: ' ('; }
    &:after { content: ')'; }

    display: none;
    position: absolute;
    left: 0;
    bottom: $font-size-base * $line-height;
    background-color: $gray;
    color: white;
    padding: 1.5rem;
    width: $standard-tooltip-width;
    text-align: center;
  }

  &:hover {
    cursor: help;
    padding-top: 2rem; /* Ensures we can hover into the tooltip. */
    span {
      display: inline;
    }
  }

  &:after {
    content: '\2731';
    vertical-align: super;
    color: $link-color;
  }
}
