@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/normalize";
@import "bootstrap/scss/reboot";

@import "fade-in";
@import "bounce-in-down";
@import "icomoon";
@import "tooltips";
@import "skip-link";
@import "header";
@import "footer";
@import "pride";

main {
  background: white;
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
  padding: $content-padding;

  .bleed {
    margin-left: -$content-padding;
    margin-right: -$content-padding;

    img {
      width: 100%;
    }
  }

  img {
    margin: 0 auto;
  }

  p {
    margin-bottom: 2.5rem;
  }

  figure {
    text-align: center;
    font-size: $font-size-xs;
    padding: 1rem 10%;

    img {
      max-width: 100%;
    }

    figcaption {
      padding-top: 1rem;
    }
  }

  blockquote {
    font-size: $font-size-sm;
    border-left: 4px solid #aaa;
    p {
      margin-left: 3rem;
    }
  }
}
