@import "config";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/normalize";
@import "bootstrap/scss/reboot";
@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,500);

@import "common";
@import "tooltips";
@import "skip-link";
@import "header";
@import "footer";
@import "pride";

#logo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  width: 15vh;
  height: 15vh;
  max-width: 12rem;
  max-height: 12rem;
  border-radius: 50%;
  margin: 2vh auto;
  border: 4px solid #0B0D0B;
}

main {
  background: white;
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
}

html.no-js {
  nav {
    background-color: #2a2d41;
  }
}

