@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/normalize";
@import "bootstrap/scss/reboot";
@import url(https://fonts.googleapis.com/css?family=Raleway:400);

@import "fade-in";
@import "bounce-in-down";
@import "tooltips";
@import "skip-link";
@import "header";
@import "footer";
@import "pride";

main {
  background: white;
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
  padding: $content-padding;
}
