{{ partial "open.html" . }}
{{ partial "header.html" . }}

<main id="top">
  <article>
    {{ if ne .Type "page" }}
    <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    <div class="byline">Published on {{ .Date.Format "Jan 2 2006" }}, ~{{ .WordCount }} words</div>
    {{ end }}

    {{ .Content }}
  </article>

  {{ if ne .Type "page" }}

  <div class="table-of-contents">
    <b>Table of Contents</b>
    {{ .TableOfContents }}
  </div>

  <hr />

  <p>
    Comments? Questions? Concerns? Send me a tweet <a href="https://twitter.com/{{ $.Site.Params.twitter }}">@{{ $.Site.Params.twitter }}</a>
  </p>
  {{ end }}
</main>

{{ partial "footer.html" . }}
{{ partial "close.html" . }}
