<a href='#top' id='scroll-to-top'><i class="fa fa-chevron-circle-up"></i> Jump to top</a>
<header>
  <div>
    <h1><a href="/">{{ $.Site.Title }}</a></h1>
    <div aria-hidden="true" role="presentation" style="background-image: url(/images/{{ $.Site.Params.profile }});"></div>
  </div>

  <nav>
    <div>
      <ul id="main-nav" class="main">
        <li class="selected"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <ul id="social-nav" class="social">
        <li><a href="#"><i class="fa fa-twitter"></i><span>@emilymhorsman</span></a></li>
        <li><a href="#"><i class="fa fa-github-alt"></i><span>GitHub</span></a></li>
      </ul>
    </div>
  </nav>
</header>
