<a href='#top' id='scroll-to-top'><i class="icon icon-chevron-circle-up"></i><span> Jump to top</span></a>
<header>
  <div>
    <h1><a href="/">{{ $.Site.Title }}</a></h1>
    <div aria-hidden="true" role="presentation" style="background-image: url(/images/{{ $.Site.Params.profile }});"></div>
  </div>

  <nav>
    <a href="#" id="open-hamburger" aria-hidden="true" role="presentation"><i class="icon icon-bars"></i><span> Open Menu</span></a>
    <div>
      <ul id="main-nav" class="main">
        {{ $cur := . }}
        {{ range $.Site.Menus.main }}
        <li{{ if $cur.IsMenuCurrent "main" . }} class="selected"{{ end}}><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>

      <ul id="social-nav" class="social">
        {{ range $.Site.Data.social.links }}
        {{ if .nav }}<li><a href="{{ .url }}" title="{{ .name }}"><span>{{ .name }}</span><i class="icon icon-{{ .icon }}"></i></a></li>{{ end }}
        {{ end }}
      </ul>
    </div>
  </nav>
</header>
