<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ if ne .Title "Home" }}{{ .Title }} | {{ end }}{{ $.Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ range $.Site.Data.assets.css }}
    <link href="/css/{{ .src }}" rel="stylesheet">
    {{ end }}

    {{ range where $.Site.Data.assets.js "disabled" "ne" "nil" }}
      {{ if .cdn }}
        <script src="{{ .cdn }}"></script>
        {{ print "<script>window." .global " || document.write('<script src=\"/js/" .src "\">\\x3C/script>');</script>" | safeHTML }}
      {{ else }}
        <script src="/js/{{ .src }}"></script>
      {{ end }}
    {{ end }}
  </head>

  <body onload='load()'>
