<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ if ne .Title "Home" }}{{ .Title }} | {{ end }}{{ $.Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "opengraph.html" . }}

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    {{ range $.Site.Data.assets.css }}
    <link href="/css/{{ .src }}" rel="stylesheet">
    {{ end }}
  </head>

  <body {{ if eq .Type "page" }}class='{{ lower .Title }}' {{ end }}onload='load()'>
